{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cliente/css/styles.css' %}">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="logo">Mapstruck</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'index' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'nosotros' %}">Sobre Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'servicios' %}">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{% url 'contacto' %}">Inscribete aquí</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mt-4">
        <div class="jumbotron text-center">
            <h1 class="display-4">El Mejor Servicio de Grúas</h1>   
            <h1 class="display-4">Para su Moto</h1>
            <p class="lead">Transporte y Rescate Seguro en Ruta.</p>
            <a class="btn btn-success btn-lg" href="#" role="button">Ver Servicios</a>
        </div>
    </main>
    <footer class= footer "bg-dark text-white text-center py-3 mt-4">
        <div class="container">
            <p>&copy; 2024 Mapstruck. Todos los derechos reservados.</p>
            <p><a href="./contacto.html">Contacto</a>| Enlaces Rápidos | Redes Sociales | Nuestro Blog</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>

