<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Mapstruck</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/otherstyle.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="logo">Mapstruck</h1>
            <nav>
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link text-white" href="index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="nosotros.html">Sobre Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="servicios.html">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mt-4">
        <h2 class="text-center mb-4">Nuestros Servicios</h2>
        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./img/Cambio Neumático.jpg" class="card-img-top" alt="Cambio de Neumáticos">
                    <div class="card-body">
                        <h5 class="card-title">Cambio de Neumáticos</h5>
                        <p class="card-text text-justify">El cambio de neumáticos es un servicio exclusivo que traemos para ti, desde tu casa o desde cualquier lugar de la Región estaremos brindándote la mejor atención y usando las herramientas indicadas para cambiar ese neumático dañado.

                            Que tu camino no tenga obstáculo junto a Mapstruck.</p>
                        <a href="#" class="btn btn-success">Solicitar Servicio</a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./img/gruas1.png" class="card-img-top" alt="Servicio de Remolque">
                    <div class="card-body">
                        <h5 class="card-title">Servicio de Remolque</h5>
                        <p class="card-text text-justify">Nuestro equipo de profesionales altamente capacitados está comprometido con ofrecer soluciones de traslado de motos confiables y seguras. Estamos aquí para asistirte en cualquier momento, del día o de la noche.</p>
                        <a href="#" class="btn btn-success">Solicitar Servicio</a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./img/Puente.jpg" class="card-img-top" alt="Puente de batería">
                    <div class="card-body">
                        <h5 class="card-title">Puente de Batería</h5>
                        <p class="card-text text-justify" >¿Te quedaste sin batería? Somos especialistas en hacer puente de batería a domicilio o en el lugar donde te encuentres.

                            Nuestras prácticas son seguras y confiables. El trabajo se realiza rápido porque para nosotros tu tiempo es importante. Rescatarte es nuestra bandera estés donde estés.</p>
                        <a href="#" class="btn btn-success">Solicitar Servicio</a>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./img/Recarga bencina.jpeg" class="card-img-top" alt="Recarga de Bencina">
                    <div class="card-body">
                        <h5 class="card-title">Recarga de Bencina</h5>
                        <p class="card-text text-justify">Imagina que estás viajando y te quedas sin compbustible en medio de la carretera. 
                            Nuestro servicio de recarga de combustible es tu salvavidas.
                        </p>
                        <a href="#" class="btn btn-success">Solicitar Servicio</a>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./img/mecanico a domicilio.jpg" class="card-img-top" alt="Servicio 5">
                    <div class="card-body">
                        <h5 class="card-title">Mantención a Domicilio</h5>
                        <p class="card-text text-justify">Regulamos tus frenos, luces, puestas a punto del motor, ajustes de partida y ralentí, flujo de combustible y medición de capacidad de batería para que la experiencia sea lo más satisfactoria posible.</p>
                        <a href="#" class="btn btn-success">Solicitar Servicio</a>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="./img/Grua Siniestro.jpeg" class="card-img-top" alt="Grua siniestro">
                    <div class="card-body">
                        <h5 class="card-title">Grúa Siniestro</h5>
                        <p class="card-text">Descripción breve del servicio 6.</p>
                        <a href="#" class="btn btn-success">Solicitar Servicio</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Mapstruck. Todos los derechos reservados.</p>
            <p>Contacto | Enlaces Rápidos | Redes Sociales</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
